# Web Framework & Server
fastapi
uvicorn[standard]
python-multipart

# Database & ORM
sqlalchemy
pymysql

# Security & Authentication
cryptography
bcrypt
passlib[bcrypt]
PyJWT

# Background Tasks & Automation
APScheduler

# Document Generation & Templating
pdfkit
jinja2

# Environment Variables
python-dotenv

# FastAPI can make requests to the Headscale pod
httpx>=0.27.0
